@using BookStore.Domain.Entities.Auth
@model UserProfileViewModel

@{
    ViewData["Title"] = "Profile";
}

<h1>Welcome to your Profile</h1>

<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>User Information</h2>
            <p><strong>UserName:</strong> @User.Identity.Name</p>
            <p><strong>Email:</strong> @Model.User.Email</p>
            <p><strong>Full Name:</strong> @Model.User.FullName</p>
            <p><strong>Phone Number:</strong> @Model.User.PhoneNumber</p>

            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Update
            </button>
        </div>
        
        <div class="col-6">
            <form enctype="multipart/form-data">
                <div class="mb-3">
                    @if (Model.User.PhotoPath is null)
                    {
                        <img src="https://img.freepik.com/premium-vector/user-profile-icon-flat-style-member-avatar-vector-illustration-isolated-background-human-permission-sign-business-concept_157943-15752.jpg" style="width:100px" />
                    }else{
                        <img src="@Model.User.PhotoPath" style="width:100px" />
                    }
                    <input asp-for="@Model.Photo" class="form-control" type="file" id="formFileMultiple" multiple>
                </div>

                <button class="btn btn-primary" asp-controller="Auth" asp-action="UpdateProfilePhoto" formmethod="post">Upload</button>
            </form>
        </div>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">@User.Identity.Name's personal information</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form asp-controller="Auth" asp-action="Update" method="post">
                        <div class="mb-3">
                            <label asp-for="@Model.User.FullName" class="form-label">Full Name</label>
                            <input asp-for="@Model.User.FullName" type="text" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.User.Email" class="form-label">Email</label>
                            <input asp-for="@Model.User.Email" type="email" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.User.UserName" class="form-label">Username</label>
                            <input asp-for="@Model.User.UserName" type="text" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label asp-for="@Model.User.PhoneNumber" class="form-label">Phone Number</label>
                            <input asp-for="@Model.User.PhoneNumber" type="text" class="form-control" required>
                        </div>

                        <button type="submit" class="btn btn-primary float-end">Save</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
