@using BookStore.Domain.Entities
@model List<Author>


<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Full name</th>
            <th scope="col">Description</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @for(int i = 0; i < Model.Count; i++)
        {
            var rowNumber = i + 1;
            <tr>
                <th scope="row">@rowNumber</th>
                <td>@Model[i].Name</td>
                <td>@Model[i].Description</td>
                <td>
                    <a asp-controller="Authors" asp-action="DeleteAuthor" asp-route-id="@Model[i].Id" class="btn btn-danger">
                        <i class='bx bxs-trash'></i>
                    </a>

                    <a asp-controller="Authors" asp-action="Update" asp-route-id="@Model[i].Id" class="btn btn-secondary">
                        <i class='bx bxs-edit-alt'></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>