@using BookStore.Application.useCases.Books.Commands
@using BookStore.Domain.Entities
@model BooksCreateViewModel

<form method="post">
    <div class="mb-3">
        <label asp-for="@Model.CreateBookCommand.Title" class="form-label">Название</label>
        <input asp-for="@Model.CreateBookCommand.Title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Введите название ...">
    </div>

    <div class="mb-3">
        <label asp-for="@Model.CreateBookCommand.Description" class="form-label">Описание</label>
        <textarea asp-for="@Model.CreateBookCommand.Description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>

    <div>
        <label class="form-label">Автор</label>
        <select asp-for="@Model.CreateBookCommand.AuthorId" class="form-select" aria-label="Выберите автора">
            <option selected disabled>Выберите автора</option>
            @foreach (var author in Model.Authors)
            {
                <option value="@author.Id">@author.Name</option>
            }
        </select>
    </div>

    <div>
        <label class="form-label">Жанры</label><br>
        @foreach (var genre in Model.Genres)
        {
            <div>
                <input type="checkbox" id="@($"genre_{genre.Id}")" name="genres" value="@genre.Id">
                <label for="@($"genre_{genre.Id}")">@genre.Name</label><br>
            </div>
        }
    </div>

    <button type="submit" class="btn btn-primary mt-1">Сохранить</button>
</form>
