@using BookStore.Application.useCases.Books.Commands
@using BookStore.Domain.Entities
@model BooksCreateViewModel

<form enctype="multipart/form-data">
    <div class="mb-3">
        <label asp-for="@Model.CreateBookCommand.Title" class="form-label">Title</label>
        <input asp-for="@Model.CreateBookCommand.Title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter title ..." required>
    </div>
 
    <div class="mb-3">
        <label asp-for="@Model.CreateBookCommand.Price" class="form-label">Price</label>
        <input asp-for="@Model.CreateBookCommand.Price" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter price ..." required>
    </div>

    <div class="mb-3">
        <label asp-for="@Model.CreateBookCommand.Description" class="form-label">Description</label>
        <textarea asp-for="@Model.CreateBookCommand.Description" class="form-control" id="exampleFormControlTextarea1" rows="3" required></textarea>
    </div>

    <div class="mb-3">
        <label asp-for="@Model.CreateBookCommand.PDFFile" class="form-label">Pdf file</label>
        <input asp-for="@Model.CreateBookCommand.PDFFile" class="form-control" type="file" id="formFileMultiple" accept=".pdf" multiple>
    </div>

    <div class="mb-3">
        <label asp-for="@Model.CreateBookCommand.Photo" class="form-label">Photo</label>
        <input asp-for="@Model.CreateBookCommand.Photo" class="form-control" type="file" id="Photo" accept="image/*" required>
    </div>

    <div>
        <select required="required" asp-for="@Model.CreateBookCommand.AuthorId" class="form-select" aria-label="Default select example">
            <option selected value="" hidden>Open this select menu</option>

            @foreach(var author in Model.Authors)
            {
                <option value="@author.Id">@author.Name</option>   
            }
        </select>
    </div>

     <table>
        <tr>
            @foreach (var item in Model.CheckedBoxes)
            {
                <td style="padding:5px;">
                    <label><input type="checkbox" value="@item.Id" checked="@item.IsChecked" name="ids" id="@item.Id" /> @Html.Raw(@item.Name)</label>
                </td>
            }
        </tr>
    </table>



    <button class="btn btn-primary mt-1" asp-controller="Books" asp-action="Create" formmethod="post">Save</button>
</form>
