@using BookStore.Domain.Entities
@model List<Book>

@{
    ViewData["Title"] = "Book";
}

<a asp-controller="Books" asp-action="Create" class="btn btn-primary">
    <i class='bx bx-plus'></i>
</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">T/R</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">More Info</th>
            @if (!User.Identity.IsAuthenticated)
            {   
                <th scope="col">Actions</th>
            }
        </tr>
    </thead>
    <tbody class="table-group-divider">
        @for (var i = 0; i < Model.Count; i++)
        {
            var rowNumber = i + 1;
            <tr>
                <th scope="row">@rowNumber</th>
                <td>@Model[i].Title</td>
                <td>@Model[i].Author.Name</td>
                <td>
                    <a asp-controller="Books" asp-action="MoreInfo" asp-route-id="@Model[i].Id" class="btn btn-link">
                        <i class='bx bx-show'></i>
                    </a>
                </td>

                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        <a asp-controller="Books" asp-action="Delete" asp-route-id="@Model[i].Id" class="btn btn-danger">
                            <i class='bx bxs-trash'></i>
                        </a>
                        <a asp-controller="Books" asp-action="Update" asp-route-id="@Model[i].Id" class="btn btn-secondary">
                            <i class='bx bx-edit-alt'></i>
                        </a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
