@model BooksUpdateBookViewModel

<form asp-controller="Books" asp-action="Update" asp-route-id="@Model.book.Id" method="post" class="needs-validation" novalidate>
    <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" required class="form-control" id="title" asp-for="@Model.book.Title">
        <div class="invalid-feedback">
            Please provide a title.
        </div>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <input type="text" required class="form-control" id="description" asp-for="@Model.book.Description" >
        <div class="invalid-feedback">
            Please provide a description.
        </div>
    </div>
    <div class="mb-3">
        <label for="author" class="form-label">Author</label>
        <select class="form-select" id="author" asp-for="@Model.book.AuthorId" required>
            <option value=""hidden>Select an author</option>
            @foreach (var author in @Model.authors)
            {
                <option value="@author.Id">@author.Name</option>
            }
        </select>
        <div class="invalid-feedback" >
            Please select an author.
        </div>
    </div>
    <table>
        <tr>
            @foreach (var item in Model.CheckedBoxes)
            {
                <td style="padding:5px;">
                    <label><input type="checkbox" value="@item.Id" checked="@item.IsChecked" name="ids" id="@item.Id" /> @Html.Raw(@item.Name)</label>
                </td>
            }
        </tr>
    </table>

    <button class="btn btn-primary" type="submit">Update</button>
</form>
